.search-bar {
  width: 20vw;
  height: 30px;
  border: 0px;
  background-color: rgb(219, 219, 219);
  position: relative;
}
.search-button {
  position: inherit;
  cursor: pointer;
  height: 30px;
  border: 0px;
  color: rgb(104, 104, 104);
  font-weight: bold;
  background-color: rgb(223, 230, 255);
}

.search-button:hover {
  background-color: rgb(70, 70, 201);
  color: white;
  transition: 0.3s;
}
