.App {
  margin-top: 5vh;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 5vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.star-stargazers {
  color: rgb(241, 157, 0);
}

.current-topic-title {
  color: grey;
}
